<h1 class="page-header">Resposta #"{{model.record.id}}"</h1>

<ul class="nav nav-tabs">
  <li role="presentation">
    {{#link-to 'd-forms.item' model.form.id}}Campos{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.edit' model.form.id}}Editar formulário{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.use' model.form.id}}Usar{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.answers' model.form.id}}Respostas{{/link-to}}
  </li>
  <li role="presentation" class="active">
    {{#link-to 'd-forms.item.answers.item' model.form.id model.record.id}}Resposta #"{{model.record.id}}{{/link-to}}
  </li>
</ul>

<div class="tab-content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Campo</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.fields as |field index|}}
        {{#unless field.informationField}}
          <tr>
            <th width="150">{{truncate field.label}}:</th>
            <td>{{get model.record.vCacheByFieldId field.id}}</td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
</div>