<h1 class="page-header">Formulários</h1>
<div class="actions">
  {{#link-to 'd-forms.create' class="btn btn-default"}}
    <i class="glyphicon glyphicon-plus text-success"></i> Criar formulário
  {{/link-to}}
</div>
<br>
{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=false
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}