
<div class="container">
  <br>
  <div class="jumbotron">
    <h1 class="display-4">Site em desenvolvimento!</h1>
    <p class="lead">Enquanto trabalhamos na criação de um site para o projeto Pretas Ruas mas enquanto isso você pode nos seguir nas redes sociais:</p>
    <p class="lead">
      <a class="btn btn-default" href="https://www.facebook.com/pretasruass" role="button">
        <i class="fa fa-facebook-official text-primary" aria-hidden="true"></i> Facebook</a>
      <a class="btn btn-default" href="https://www.instagram.com/pretas_ruas/" role="button"><i class="fa fa-instagram text-danger" aria-hidden="true"></i> Instagram</a>
      <a class="btn btn-default" href="mailto:contato@pretasruas.com.br" role="button"><i class="fa fa-envelope-o" aria-hidden="true"></i> E-mail</a>
    </p>
    <hr class="my-4">
    <br>

    <p class="lead">
      Dados de contato:
      <ul>
        <li>E-mail: contato@pretasruas.com.br</li>
      </ul>
    </p>
  </div>

</div>
