<div id="page-wrapper">
  <div id="sysMessagesArea" class="container">{{{we-messages}}}</div>
  <div id="content" role="main">
    <div class="container">
      {{#region 'highlighted'}}{{/region}}
      {{{body}}}
      {{#region 'afterContent'}}{{/region}}
    </div>
  </div>
</div>