{{#if widget.fbPageId}}
<div class="fb-page" data-href="https://www.facebook.com/{{widget.fbPageId}}/" data-tabs="timeline,messages,events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/{{widget.fbPageId}}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{widget.fbPageId}}/">{{widget.siteName}}</a></blockquote></div>
{{/if}}