<h1 class="page-header">Editar formulário "{{model.record.name}}"</h1>

<ul class="nav nav-tabs">
  <li role="presentation">
    {{#link-to 'd-forms.item' model.record.id}}Campos{{/link-to}}
  </li>
  <li role="presentation" class="active">
    {{#link-to 'd-forms.item.edit' model.record.id}}Editar formulário{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.use' model.record.id}}Usar{{/link-to}}
  </li>
  <li role="presentation">
    {{#link-to 'd-forms.item.answers' model.record.id}}Respostas{{/link-to}}
  </li>
</ul>
<div class="tab-content">
  {{partial 'd-forms/form'}}
</div>